body {background-color: rgbda(204, 204, 204, 1);}



/*
html,body{margin:0;}
header{
	position: fixed;
	top:0;
	height: 125px;
	width: 100%;
	background: white;
}

main{
	margin-bottom: 8px;
}

@supports (height: 100vh) {
	body{
		background: linear-gradient(to right top, #0089f2 50%, #DDD 50%);
		background-size: 100% calc(100% - 100vh + 129px);
		background-repeat: no-repeat;
	}

	body:before{
		content:'';
		position: fixed;
		top: 128px;
		bottom: 0;
		width: 100%;
		z-index: -1;
		background: white;
	}
} */









dialog {
	color: purple;
	line: dotted;
	outline-width: thin;
}

.column {
    float: left;
    padding: 10px;
}

.left, .right {
  width: 20%;
}

.middle {
  width: 20%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

article {
	<!-- border-right: outset 10em purple; -->
}

div.try {
    background-color: #00FFFF;
    width: 1000px;
    height: 100px;
    overflow: scroll;
}
.login a p {display:none;}
.login a:hover p {display:block;}
.login a:hover {display:block;}

article h1 {
	color: purple;

}
article h2 {
	color: purple;

}

article p {
	margin: 1em 0;
}

.linkk {
	text-decoration: none;
	border: 1px solid #800080;
	border-style: groove;
	padding: px;
}

.linkk:visited {
	border: 1px solid #800080;
}

figure {
	width:
}
.print1 {
    background-color: #e7e7e7;
    border: none;
    color: white;
    padding:
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:
    cursor: ;
}

.print2 {
    background-color:
    border: 1px;
    color: white;
    padding:
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:
    cursor:;
}

iframe {
	width: %
}




element.style {
    position: absolute;
    left: 756;
    top: 171;
    width: 108;
    height: 27;
}

.message.alert {
	width:90%;
	border-style: solid;
	border-width: 2px;
	border-radius: 1em;
	padding: 1em;
	border-color: red;
}

.message.warning {
	width: 30%;
	border-style: solid;
	border-width: 2px;
	border-radius: 1em;
	padding: 1em;
	border-color: purple;
}

.info {
  font-family: monospace;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}
